# The below file types will be ignored by git tracking :
*.exe
*.cdb
*.cws
*.dll
*.lib
*.xml
*.msi
*.cab
*.rtf
*.pmf
*.id

*.mst
*setup.ini
*License.txt
*Notice.txt

cvibuild*/
cvicomments*/
/.project
